* {
  margin: 0;
  padding: 0;
}

.d-inblock {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.h-48 {
  height: 48px;
}

.h-32 {
  height: 32px;
}

/* ----------------------------  Positions  -------------------------------- */
.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

/* ----------------------------  Font sizes  -------------------------------- */
.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

/* ----------------------------  Width in percentage  -------------------------------- */

.w-100 {
  width: 100%;
}

.w-82 {
  width: 82%;
}

.w-18 {
  width: 18%;
}

/* ----------------------------  Width in pixels  -------------------------------- */
.w-100p {
  width: 100px;
}

.w-48p {
  width: 48px;
}

/* ----------------------------  Backgrounds  -------------------------------- */
.bg-orange {
  background-color: orange;
}

.bg-beige {
  background-color: peachpuff;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

/* ----------------------------  Colors  -------------------------------- */

.soft-red {
  color: rgb(255, 59, 59);
}

.soft-gray {
  color: rgb(173, 173, 173);
}

/* ----------------------------  Styles  -------------------------------- */

.style-none {
  list-style: none;
}

.fa-bars {
}

/* ----------------------------  Header  -------------------------------- */
.mobile-nav-button {
}

/* ----------------------------  Media Queries  -------------------------------- */

/* ----------------------------  Mobile (XS to SM)  -------------------------------- */

@media screen and (max-width: 767px) {
  .desk-nav {
    display: none;
  }

  .black-navbar {
    display: none;
  }

  .mobile-nav {
    justify-content: flex-end;
  }
  .tickets {
    height: 76px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .logo {
    height: 80px;
  }

  .tickets {
    height: 46px;
  }
}

/* ----------------------------  (SM to LG)  -------------------------------- */

@media screen and (max-width: 1023px) {
  .logo {
    display: block;
  }

  .navbars {
    width: 82%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    display: none;
  }

  .navbars {
    width: 100%;
  }

  .big-header {
    height: 126px;
  }

  .big-navbars {
    height: 80px;
  }
}
