* {
  margin: 0;
  padding: 0;
}

.d-inblock {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.h-300 {
  height: 300px;
}

.h-105 {
  height: 105vh;
}

.h-100 {
  height: 100%;
}

.h-88 {
  height: 88px;
}

.h-60 {
  height: 60px;
}

.h-48 {
  height: 48px;
}

.h-32 {
  height: 32px;
}

/* ----------------------------  Positions  -------------------------------- */
.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* ----------------------------  Font sizes  -------------------------------- */
.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

/* ----------------------------  Width in percentage  -------------------------------- */

.w-100 {
  width: 100%;
}

.w-93 {
  width: 93%;
}

.w-82 {
  width: 82%;
}

.w-18 {
  width: 18%;
}

/* ----------------------------  Width in pixels  -------------------------------- */
.w-100p {
  width: 100px;
}

.w-60p {
  width: 60px;
}

.w-48p {
  width: 48px;
}

/* ----------------------------  Backgrounds  -------------------------------- */
.bg-orange {
  background-color: orange;
}

.bg-beige {
  background-color: peachpuff;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

.bg-darksalmon {
  background-color: rgba(255, 68, 34, 0.08);
}

.bg-somered {
  background-color: #f42;
}

/* ----------------------------  Colors  -------------------------------- */

.soft-red {
  color: rgb(255, 59, 59);
}

.soft-gray {
  color: rgb(173, 173, 173);
}

.white {
  color: white;
}
/* ----------------------------  Margins  -------------------------------- */
.ml-30 {
  margin-left: 30%;
}

/* ----------------------------  Styles  -------------------------------- */

.style-none {
  list-style: none;
  text-decoration: none;
}

.fa-bars {
}

/* ---------------------------------------------------  Header  ------------------------------------------------------------------- */
.mobile-nav-button {
}

/* ----------------------------  Media Queries  -------------------------------- */

/* ----------------------------  Mobile (XS to SM)  -------------------------------- */

@media screen and (max-width: 767px) {
  .desk-nav {
    display: none;
  }

  .black-navbar {
    display: none;
  }

  .mobile-nav {
    justify-content: flex-end;
  }
  .tickets {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .logo {
    height: 80px;
  }

  .tickets {
    height: 30px;
  }
}

/* ----------------------------  (SM to LG)  -------------------------------- */

@media screen and (max-width: 1023px) {
  .logo {
    display: block;
  }

  .navbars {
    width: 82%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    display: none;
  }

  .navbars {
    width: 100%;
  }

  .big-header {
    height: 110px;
  }

  .big-navbars {
    height: 80px;
  }
}

/* ----------------------------------------------------  Cover Section  ----------------------------------------------------------- */

/* ----------------------------  Media Queries  -------------------------------- */

/* ----------------------------  Mobile (XS to SM)  -------------------------------- */

@media screen and (max-width: 767px) {
  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 95vh;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 97vh;
  }

  .bigger {
    grid-row: 1/3;
    grid-column: 1/3;
  }
}

/* ----------------------------------------------------  News Section  ----------------------------------------------------------- */

.main-container {
  margin: 0 auto;
  max-width: 1190px;
}

/* ----------------------------  Media Queries  -------------------------------- */

/* ----------------------------  Mobile (XS to SM)  -------------------------------- */

@media screen and (max-width: 767px) {
  .item-1 {
    float: left;
    width: 75px;
    height: 75px;
  }

  .item-2 {
    float: right;
    width: 85%;
  }

  .item-3 {
    float: left;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .news-li {
    width: 33%;
    height: 30vw;
  }

  .item-1 {
    display: block;
    width: 100%;
    height: 65%;
  }

  .item-2 {
    width: 100%;
  }

  .item-3 {
    width: 100%;
  }
}

/* ----------------------------  (SM to LG)  -------------------------------- */

@media screen and (min-width: 1024px) {
  .news-li {
    width: 25%;
  }
}

/* ----------------------------------------------------  Latest-funding Section  ----------------------------------------------------------- */
.square-img {
  top: 15px;
  left: 15px;
}

.fund-title {
  padding: 10.5px 16px 10.5px 84px;
}

.middle-item {
  padding: 22px 0 22px 15px;
  flex-direction: column;
  border-bottom: 1px solid salmon;
}

.last-item {
  padding: 22px 0 50px 15px;
}

.li-div {
  overflow: hidden;
}

/* ----------------------------  Media Queries  -------------------------------- */

/* ----------------------------  Mobile (XS to SM)  -------------------------------- */

@media screen and (max-width: 767px) {
  .funding-li {
    width: 100%;
    height: 235px;
  }

  .last-item {
    padding: 15px 0 50px 15px;
  }

  .main-div-fund {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .funding-li {
    width: 31%;
  }
}

/* ----------------------------  (SM to LG)  -------------------------------- */
@media screen and (max-width: 1023px) {
  .go-away {
    display: none;
  }
}

/* ----------------------------  (SM to LG)  -------------------------------- */

@media screen and (min-width: 1024px) {
  .funding-li {
    width: 23%;
  }
}
